<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback Form</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
    rel="stylesheet"/>
    
    <style>

html {
        font-family: 'Montserrat', sans-serif;
        
    }


        #submit-btn {
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 0.7em 2em;
    border: 3px solid #399918;
    border-radius: 2px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    color: #399918;
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
}

#submit-btn:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: #399918;
  z-index: -1;
}

#submit-btn:hover, #submit-btn:focus {
  color: white;
}

#submit-btn:hover:before, #submit-btn:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

#submit-btn:active {
  transform: scale(0.9);
}

    </style>
</head>
<body>
    {% load static %}

    <nav class="navbar .navbar-nav-scroll navbar sticky-top navbar-expand-lg bg-dark border-bottom border-body w-100" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand fs-3" href="#" style="font-family: 'Montserrat', sans-serif; font-weight: 800;"><span style="font-weight: 800; color: #399918;">Flavor</span>Vault</a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse justify-content-md-end" id="navbarNav">
          <ul class="navbar-nav nav-underline">
            <li class="nav-item">
              <a class="nav-link disabled" aria-current="page" aria-disabled="true" href="#home" style="color: rgba(255, 255, 255,0.6); font-family: 'Montserrat', sans-serif;">Welcome, {{request.user}}</a>
              <!-- <p></p> -->
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/dashboard/" style="font-family: 'Montserrat', sans-serif;">Go to Dashboard</a>
            </li>

          {% if request.user.is.authenticated %}


          <button type="button" class="btn btn-light" style="font-family: 'Montserrat', sans-serif; font-weight: 700;"><a class="link-offset-2 link-underline link-underline-opacity-0 text-dark" href="/login/">Login</a></button>
          
          {% else %}
          <button type="button" class="btn btn-light" style="font-family: 'Montserrat', sans-serif; font-weight: 700;"><a class="link-offset-2 link-underline link-underline-opacity-0 text-dark" href="/logout/">Logout</a></button>
          {% endif %}


          <!-- <button type="button" class="btn btn-light" style="font-family: 'Montserrat', sans-serif; font-weight: 700;"><a class="link-offset-2 link-underline link-underline-opacity-0 text-dark" href="/login/">Login / Sign-Up</a></button> -->
          <!-- <button type="button" class="btn btn-outline-light" style="font-family: 'Montserrat', sans-serif; font-weight: 700;">Login</button> -->
          <!-- <button type="button" class="btn btn-dark" style="font-family: 'Montserrat', sans-serif; font-weight: 700;"><a class="link-offset-2 link-underline link-underline-opacity-0 text-light" href="#">Sign-Up</a></button> -->
        </ul>
      </div>
      
      
    
    </div>
  </nav>
  <br>




    <div class="container-fluid mt-5 ">
        <h1 class="mb-4 text-center" style="font-weight:bold;">We Value Your Feedback!</h1>

        <!-- Display Django messages -->
        {% if messages %}
            <div class="container-sm mb-4">
                {% for message in messages %}
                    <div class="alert alert-info" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <form class="col-9 mx-auto card p-3 shadow-lg" method="post">
            {% csrf_token %}
            
            <div class="form-group mb-4">
                <label for="feedback_type">Type of Feedback :</label>
                <select class="form-control" id="feedback_type" name="feedback_type" required>
                    <option value="" disabled selected>Select Type of Feedback</option>
                    <option value="suggestion">Suggestion</option>
                    <option value="issue">Problem/Issue</option>
                    <option value="praise">Praise/Compliment</option>
                    <option value="general">General Question</option>
                </select>
            </div>
            
            
            <div class="form-group mb-4">
                <label for="subject">Subject of your Feedback</label>
                <input type="text" class="form-control" id="subject" name="subject" placeholder="Your Subject Here..." required>
            </div>

            

            <div class="form-group mb-4">
                <label for="details">Please provide detailed information about your Feedback or Issue :</label>
                <textarea class="form-control" id="details" name="details" rows="4" style="resize: none;" placeholder="Your Feedback or Issue Here..." required></textarea>
            </div>

            <div class="form-group mb-4">
                <label for="rating">Give Ratings :</label>
                <select class="form-control" id="rating" name="rating" required>
                    <option value="" disabled selected>Select Ratings</option>
                    {% for i in "12345" %}
                        <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group mb-4">
                <label for="recommend">Would you recommend us ?</label>
                <select class="form-control" id="recommend" name="recommend" required>
                    <option value="" disabled selected>Select Your Answer</option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
            </div>

            <div class="form-group mb-4">
                <label for="email">Email :</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Your Email Here..." required>
            </div>

            <div class="form-group mb-4">
                <label for="additional_comments">Additional Comments :</label>
                <textarea class="form-control" id="additional_comments" name="additional_comments" rows="4" placeholder="Additional Comments (if any)" style="resize: none;"></textarea>
            </div>

            <button type="submit"  id="submit-btn">Submit Feedback</button>
        </form>
        <br><br>
        <div class="container-sm">    
            <p class="border-top border-bottom p-2 mx-auto text-center">Thank you for taking the time to provide us with your valuable feedback. We appreciate your help in making our Recipe Management System even better!</p>
        </div>
        <br>
    </div>

    


    <style>

        #footer-icons i{
          color: rgba(255, 255, 255, .4);
        }
        #footer-icons i:hover{
          color: white;
          }
        </style>
            <footer class="container-fluid bg-dark text-white mw-auto text-center">
                
                <div class="container-md" style="line-height: 1; ">
                    <br>
                <h5 style="font-family: 'Montserrat', sans-serif; font-weight: 600;" >
                    <a class="link-offset-2 link-underline link-underline-opacity-0" href="#"><span style="color: #399918; font-weight: 600;">Flavor<span style="color: white; font-weight: 600;">Vault</span></span>
                    </a>
                </h5>
                
                <p style="font-family: 'Montserrat', sans-serif; font-weight: 500; font-size: x-small; line-height: .1;">
                    <a class="link-offset-2 link-underline link-underline-opacity-0" href="#" style="color: white;">Privacy Policy | Terms & Conditions | Cookies Policy</a>
                    
                    <div class="container-md fs-4" id="footer-icons">
                    <a class="link-offset-2 link-underline link-underline-opacity-0" href="#"><i style="cursor: pointer;" class="ri-instagram-line"></i></a>
                    <a class="link-offset-2 link-underline link-underline-opacity-0" href="#"><i style="cursor: pointer;" class="ri-facebook-fill"></i></a>
                    <a class="link-offset-2 link-underline link-underline-opacity-0" href="#"><i style="cursor: pointer;" class="ri-twitter-x-fill"></i></a>
                    <a class="link-offset-2 link-underline link-underline-opacity-0" href="#"><i style="cursor: pointer;" class="ri-whatsapp-line"></i></a>
                    <a class="link-offset-2 link-underline link-underline-opacity-0" href="#"><i style="cursor: pointer;" class="ri-pinterest-fill"></i></a>
                </div>
                </p>
                <p style="font-family: 'Montserrat', sans-serif; font-weight: 500; font-size: small; ">
                  <a class="link-offset-2 link-underline link-underline-opacity-0" href="#" style="color: white; ">© All rights reserved 2024 - FlavorVault Pvt. Ltd.</a><br><br>
                  <a class="link-offset-2 link-underline link-underline-opacity-0" style="color: white; " href="#" >
                    <span style="color: #399918; font-weight: 600;">Share a Feedback</span>  |  Call on: 1800X XXXXX</a>
                </p>
                <br>
            </div>
            </footer>
</body>
</html>
