<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'ASSETS/icons8-chef-85.png' %}">
    <title>Recipes</title>
        <!-- Bootstrap CSS -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <!-- Bootstrap JS and dependencies -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link
        href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
        rel="stylesheet"/>
<style>
    body {
        font-family: 'Montserrat', sans-serif;
        
    }

    .add-recipe-btn {
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 0.7em 2em;
    border: 3px solid #399918;
    border-radius: 2px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    color: #399918;
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
}

.add-recipe-btn:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: #399918;
  z-index: -1;
}

.add-recipe-btn:hover, .add-recipe-btn:focus {
  color: white;
}

.add-recipe-btn:hover:before, .add-recipe-btn:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

.add-recipe-btn:active {
  transform: scale(0.9);
}


textarea{
  resize: none;
}

input, textarea{
  outline: 1px solid #cfcfcf;

}



</style>
</head>
<body>
    <nav class="navbar p-1 .navbar-nav-scroll navbar sticky-top navbar-expand-lg bg-dark border-bottom border-body w-100" data-bs-theme="dark">
        <div class="container-fluid p-1">
          <div class=" d-flex justify-content-center align-items-center">
            <img src="{% static 'ASSETS/icons8-chef-85.png' %}" width="64" height="64" alt="">
            <a class="navbar-brand fs-3" href="#" style="font-family: 'Montserrat', sans-serif; font-weight: 800;"><span style="font-weight: 800; color: #399918;">Flavor</span>Vault</a>
            <!-- <h2 class="text-center" style="font-weight: 800;"><span style="font-weight: 800; color: #399918;">Flavor</span>Vault</h2> -->
          </div>
          
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse justify-content-md-end" id="navbarNav">
            <ul class="navbar-nav nav-underline">
              <li class="nav-item">
                <a class="nav-link disabled" aria-current="page" aria-disabled="true" href="#home" style="color: rgba(255, 255, 255,0.6); font-family: 'Montserrat', sans-serif;">Welcome, {{request.user.first_name}}</a>
                <!-- <p></p> -->
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/dashboard/" style="font-family: 'Montserrat', sans-serif;">Go to Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/view_recipe/" style="font-family: 'Montserrat', sans-serif;">View Recipes</a> 
              </li>
{% if request.user.is.authenticated %}


<button type="button" class="btn btn-light" style="font-family: 'Montserrat', sans-serif; font-weight: 700;"><a class="link-offset-2 link-underline link-underline-opacity-0 text-dark" href="/login/">Login</a></button>

{% else %}
<button type="button" class="btn btn-light" style="font-family: 'Montserrat', sans-serif; font-weight: 700;"><a class="link-offset-2 link-underline link-underline-opacity-0 text-dark" href="/logout/">Logout</a></button>
              {% endif %}

              <!-- <button type="button" class="btn btn-outline-light" style="font-family: 'Montserrat', sans-serif; font-weight: 700;">Login</button> -->
            </ul>
          </div>
          
          <!-- <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              
          </div> -->
        
        </div>
      </nav>
      <br>
      
      
      <!-- <p class="">Hello {{request.user.first_name}}, Welcome to FlavorVault {{request.user.first_name}}</p> -->
      
      <h1 class="text-center" style="font-family: 'Montserrat', sans-serif; font-size: 30ox; margin-bottom: 20px; font-weight: 700;">Manage Recipes - Create, View, Update, Delete Recipes</h1>

    <!-- Display Messages -->
    {% if messages %}
    <div class="container-fluid w-75">
      {% for message in messages %}
          <div class="text-center alert alert-success" role="alert">
              {{ message }}
          </div>
      {% endfor %}
  </div>
    {% endif %}

      <div class="container-md mt-4">
        
        <form class="col-9 mx-auto card p-4 shadow-lg" method="post" enctype="multipart/form-data">
            {% csrf_token %}
        <h2 class="text-center mb-3" style="font-size: 30ox; font-weight: 700;">Add a New Flavor to the Vault</h2>
            
        <div class="row mb-3">
          <div class="col">
            <label for="exampleInputEmail1" class="form-label">Recipe Name :</label>
            <input name="recipe_name" type="text" class="form-control" placeholder="Enter Recipe Name" required>          </div>
          <div class="col">
            <label for="exampleInputEmail1" class="form-label">Image :</label>
            <input name="recipe_image" type="file" class="form-control" >          </div>
        </div>
        
        
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Description :</label>
              <textarea name="recipe_description" class="form-control" placeholder="Enter Recipe Description" required rows="3"></textarea>
            </div>


            <div class="row mb-3">
              <div class="col">
                <label for="exampleInputEmail1" class="form-label">Category :</label>
                <input name="category" type="text" class="form-control" placeholder="Enter Category" required>
              </div>
              <div class="col">
                <label for="exampleInputEmail1" class="form-label">Serves :</label>
                <input name="serve" type="text" class="form-control" placeholder="Enter Total Servings" required>
              </div>
            </div>


            <div class="row mb-3">
              <div class="col">
                <label for="exampleInputEmail1" class="form-label">Cooktime :</label>
                <input name="cooktime" type="text" class="form-control" placeholder="Enter Cooking Time" required>
              </div>
              <div class="col">
                <label for="exampleInputEmail1" class="form-label">Taste :</label>
                <input name="taste" type="text" class="form-control" placeholder="Enter Taste of the Dish" required>
              </div>
            </div>


            <div class="row mb-3">
              <div class="col">
                <label for="exampleInputEmail1" class="form-label">Ingredients :</label>
                <textarea name="ingredients" type="text" class="form-control" rows="3" placeholder="Enter Ingredients" required></textarea>
                
              </div>
              <div class="col">
                <label for="exampleInputEmail1" class="form-label">Instruction1 :</label>
                <textarea name="instruction1" type="text" class="form-control" rows="3" placeholder="Enter Instruction 1" required></textarea>
              </div>
            </div>
            
            
            <div class="row mb-3">
              <div class="col">
                <label for="exampleInputEmail1" class="form-label">Instruction2 :</label>
                <textarea name="instruction2" type="text" class="form-control" rows="3" placeholder="Enter Instruction 2" required></textarea>
  
              </div>
              <div class="col">
                <label for="exampleInputEmail1" class="form-label">Instruction3 :</label>
                <textarea name="instruction3" type="text" class="form-control" rows="3" placeholder="Enter Instruction 3" required></textarea>
              </div>
            </div>


            
          
            
            <div class="row mb-3">
              <div class="col">
                <label for="exampleInputEmail1" class="form-label">Calories :</label>
                <input name="calories" type="text" class="form-control" placeholder="Enter Calories" required>
              </div>
              <div class="col">
                <label for="exampleInputEmail1" class="form-label">Carbohydrates :</label>
                <input name="carbohydrates" type="text" class="form-control" placeholder="Enter Carbohydrates" required>
              </div>
            </div>


            
            <div class="row mb-3">
              <div class="col">
                <label for="exampleInputEmail1" class="form-label">Protein :</label>
                <input name="protein" type="text" class="form-control" placeholder="Enter Protein" required>
              </div>
              <div class="col">
                <label for="exampleInputEmail1" class="form-label">Fats :</label>
                <input name="fats" type="text" class="form-control" placeholder="Enter Fats" required>
              </div>
            </div>


            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Allergic Info :</label>
              <textarea name="allergic_info" type="text" class="form-control" rows="3" placeholder="Enter Allergic Info" required></textarea>
            </div>

            
        
              <button type="submit" class="add-recipe-btn">Add Recipe</button>
        
        </form>
        <br><br>
        <hr>

        <div class="mt-5">
          <div class="mx-auto col-9">
          <form action="">
                <div class=" d-flex justify-content-center mb-3">
                    <!-- <input name="search" type="text" class="form-control" placeholder="Search for Recipes" width="25px"> -->
                    <input name="search" type="text" class="form-control" placeholder="Search for Recipes">
                  </div>
                  <button type="submit" class="add-recipe-btn">Browse</button>

              </div>
            </form>
          </div>
        </div>
        <br><br>

        
    </div>









    <div class="container-md ">
      {% for recipe in Recipe %}
      <!-- {{forloop.counter}} -->
      <div class="container-md shadow-lg p-4" style="width: 65%;" id="card">
          
          <h1 class="text-center" style="font-family: 'Montserrat', sans-serif; font-size: 30ox; margin-bottom: 20px; font-weight: 700;">{{recipe.recipe_name}}</h1>
          <div class="container-md" style="display: flex; justify-content: center; align-items: center;">
              <img src="/media/{{recipe.recipe_image}}" alt="" style="margin-bottom: 20px;" width="55%">
          </div>
          
          <p style="font-family: 'Montserrat', sans-serif; font-weight: bold; font-size: large; line-height: 1.8; font-style: italic">{{recipe.category}}</p>
          <br>
          
          <p style="font-family: 'Montserrat', sans-serif; font-weight: 500; font-size: large; line-height: 1.8; font-style: italic;">{{recipe.recipe_description}}</p>
          <br><br>
  
          <h2 style="font-family: 'Montserrat', sans-serif; font-weight: bold; font-size: large; line-height: 1.8; font-style: italic">Serves : {{recipe.serve}}</h2>
          <p style="font-family: 'Montserrat', sans-serif; font-weight: 500; font-size: large; line-height: 1.8; font-style: italic;"></p>
          <!-- <br> -->
  
          <h2 style="font-family: 'Montserrat', sans-serif; font-weight: bold; font-size: large; line-height: 1.8; font-style: italic">Cook Time : {{recipe.cooktime}}</h2>
          <p style="font-family: 'Montserrat', sans-serif; font-weight: 500; font-size: large; line-height: 1.8; font-style: italic;"></p>
          <!-- <br> -->
          
          <h2 style="font-family: 'Montserrat', sans-serif; font-weight: bold; font-size: large; line-height: 1.8; font-style: italic">Taste : {{recipe.taste}}</h2>
          <p style="font-family: 'Montserrat', sans-serif; font-weight: 500; font-size: large; line-height: 1.8; font-style: italic;"></p>
          <br>
  
          <h2 style="font-family: 'Montserrat', sans-serif; font-weight: bold; font-size: large; line-height: 1.8; font-style: italic"> Ingredients</h2>
          <p style="font-family: 'Montserrat', sans-serif; font-weight: 500; font-size: large; line-height: 1.8; font-style: italic;">{{recipe.ingredients}}</p>
          <br>
          
          <h2 style="font-family: 'Montserrat', sans-serif; font-weight: bold; font-size: large; line-height: 1.8; font-style: italic">Instructions</h2>
          <p style="font-family: 'Montserrat', sans-serif; font-weight: 500; font-size: large; line-height: 1.8; font-style: italic;">{{recipe.instruction1}}</p>
          <br>
          <p style="font-family: 'Montserrat', sans-serif; font-weight: 500; font-size: large; line-height: 1.8; font-style: italic;">{{recipe.instruction2}}</p>
          <br>
          <p style="font-family: 'Montserrat', sans-serif; font-weight: 500; font-size: large; line-height: 1.8; font-style: italic;">{{recipe.instruction3}}</p>
          <br>
  
          <h2 style="font-family: 'Montserrat', sans-serif; font-weight: bold; font-size: large; line-height: 1.8; font-style: italic;">Nutritional Info</h2>
          <p style="font-family: 'Montserrat', sans-serif; font-weight: 500; font-size: large; line-height: 1.8; font-style: italic;">Calories : {{recipe.calories}}</p>
          
          <p style="font-family: 'Montserrat', sans-serif; font-weight: 500; font-size: large; line-height: 1.8; font-style: italic;">Carbohydrates : {{recipe.carbohydrates}}</p>
          
          
          <p style="font-family: 'Montserrat', sans-serif; font-weight: 500; font-size: large; line-height: 1.8; font-style: italic;">Protein : {{recipe.protein}}</p>
          
          
          <p style="font-family: 'Montserrat', sans-serif; font-weight: 500; font-size: large; line-height: 1.8; font-style: italic;">Fats : {{recipe.fats}}</p>
          <br>
  
          <h2 style="font-family: 'Montserrat', sans-serif; font-weight: bold; font-size: large; line-height: 1.8; font-style: italic;">Allergic Info</h2>
          <p style="font-family: 'Montserrat', sans-serif; font-weight: 500; font-size: large; line-height: 1.8; font-style: italic;">{{recipe.allergic_info}}</p>
          <div class="d-grid gap-2 d-md-flex justify-content-center">
              <a class="btn btn-success mt-1" href="/update_recipe/{{recipe.id}}/">Update</a>
                          <!-- <a class="btn btn-primary mt-1" href="">view</a> -->
                          <a class="btn btn-danger mt-1" href="/delete_recipe/{{recipe.id}}/">Delete</a>
          </div>
      </div>
      <br><br><br>
      
      {% endfor %}
  </div>
  <br>
  <style>
  
  #footer-icons i{
    color: rgba(255, 255, 255, .4);
  }
  #footer-icons i:hover{
    color: white;
    }
  </style>
      <footer class="container-fluid bg-dark text-white mw-auto text-center">
          
          <div class="container-md" style="line-height: 1; ">
              <br>
          <h5 style="font-family: 'Montserrat', sans-serif; font-weight: 600;" >
              <a class="link-offset-2 link-underline link-underline-opacity-0" href="#"><span style="color: #399918; font-weight: 600;">Flavor<span style="color: white; font-weight: 600;">Vault</span></span>
              </a>
          </h5>
          
          <p style="font-family: 'Montserrat', sans-serif; font-weight: 500; font-size: x-small; line-height: .1;">
              <a class="link-offset-2 link-underline link-underline-opacity-0" href="#" style="color: white;">Privacy Policy | Terms & Conditions | Cookies Policy</a>
          
          <div class="container-md fs-4" id="footer-icons">
              <a class="link-offset-2 link-underline link-underline-opacity-0" href="#"><i style="cursor: pointer;" class="ri-instagram-line"></i></a>
              <a class="link-offset-2 link-underline link-underline-opacity-0" href="#"><i style="cursor: pointer;" class="ri-facebook-fill"></i></a>
              <a class="link-offset-2 link-underline link-underline-opacity-0" href="#"><i style="cursor: pointer;" class="ri-twitter-x-fill"></i></a>
              <a class="link-offset-2 link-underline link-underline-opacity-0" href="#"><i style="cursor: pointer;" class="ri-whatsapp-line"></i></a>
              <a class="link-offset-2 link-underline link-underline-opacity-0" href="#"><i style="cursor: pointer;" class="ri-pinterest-fill"></i></a>
          </div>
          </p>
          <p style="font-family: 'Montserrat', sans-serif; font-weight: 500; font-size: small; ">
            <a class="link-offset-2 link-underline link-underline-opacity-0" href="#" style="color: white; ">© All rights reserved 2024 - FlavorVault Pvt. Ltd.</a><br><br>
            <a class="link-offset-2 link-underline link-underline-opacity-0" style="color: white; " href="/feedback/" >
              <span style="color: #399918; font-weight: 600;">Share a Feedback</span>  |  Call on: 1800X XXXXX</a>
          </p>
          <br>
      </div>
      </footer>
  </div>
    

    
</body>
</html>