<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

<style>
    body {
        font-family: 'Montserrat', sans-serif;
        
    }



    .update-recipe-btn {
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 0.7em 2em;
    border: 3px solid #399918;
    border-radius: 2px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    color: #399918;
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
}

.update-recipe-btn:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: #399918;
  z-index: -1;
}

.update-recipe-btn:hover, .update-recipe-btn:focus {
  color: white;
}

.update-recipe-btn:hover:before, .update-recipe-btn:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

.update-recipe-btn:active {
  transform: scale(0.9);
}



</style>
</head>
<body>

  <!-- Display Messages -->
  {% if messages %}
  <div class="container-fluid w-75">
    {% for message in messages %}
        <div class="text-center alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}
</div>
  {% endif %}
  
    <div class="container mt-5">

        <form class="col-9 mx-auto card p-4 shadow-lg" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h2 class="text-center mb-3" style="font-size: 30px; font-weight: 700;">Update Your Recipe</h2>

    <div class="row mb-3">
        <div class="col">
            <label for="recipe_name" class="form-label">Recipe Name :</label>
            <input name="recipe_name" type="text" class="form-control" placeholder="Enter Recipe Name" value="{{ Recipe.recipe_name }}" required>
        </div>
        <div class="col">
            <label for="recipe_image" class="form-label">Image :</label>
            <input name="recipe_image" type="file" class="form-control">
            {% if Recipe.recipe_image %}
                <img src="{{ Recipe.recipe_image.url }}" alt="{{ Recipe.recipe_name }}" style="max-width: 100px; margin-top: 10px;">
            {% endif %}
        </div>
    </div>

    <div class="mb-3">
        <label for="recipe_description" class="form-label">Description :</label>
        <textarea name="recipe_description" class="form-control" placeholder="Enter Recipe Description" required rows="3">{{ Recipe.recipe_description }}</textarea>
    </div>

    <div class="row mb-3">
        <div class="col">
            <label for="category" class="form-label">Category :</label>
            <input name="category" type="text" class="form-control" placeholder="Enter Category" value="{{ Recipe.category }}" required>
        </div>
        <div class="col">
            <label for="serve" class="form-label">Serves :</label>
            <input name="serve" type="text" class="form-control" placeholder="Enter Total Servings" value="{{ Recipe.serve }}" required>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <label for="cooktime" class="form-label">Cooktime :</label>
            <input name="cooktime" type="text" class="form-control" placeholder="Enter Cooking Time" value="{{ Recipe.cooktime }}" required>
        </div>
        <div class="col">
            <label for="taste" class="form-label">Taste :</label>
            <input name="taste" type="text" class="form-control" placeholder="Enter Taste of the Dish" value="{{ Recipe.taste }}" required>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <label for="ingredients" class="form-label">Ingredients :</label>
            <textarea name="ingredients" class="form-control" rows="3" placeholder="Enter Ingredients" required>{{ Recipe.ingredients }}</textarea>
        </div>
        <div class="col">
            <label for="instruction1" class="form-label">Instruction1 :</label>
            <textarea name="instruction1" class="form-control" rows="3" placeholder="Enter Instruction 1" required>{{ Recipe.instruction1 }}</textarea>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <label for="instruction2" class="form-label">Instruction2 :</label>
            <textarea name="instruction2" class="form-control" rows="3" placeholder="Enter Instruction 2" required>{{ Recipe.instruction2 }}</textarea>
        </div>
        <div class="col">
            <label for="instruction3" class="form-label">Instruction3 :</label>
            <textarea name="instruction3" class="form-control" rows="3" placeholder="Enter Instruction 3" required>{{ Recipe.instruction3 }}</textarea>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <label for="calories" class="form-label">Calories :</label>
            <input name="calories" type="text" class="form-control" placeholder="Enter Calories" value="{{ Recipe.calories }}" required>
        </div>
        <div class="col">
            <label for="carbohydrates" class="form-label">Carbohydrates :</label>
            <input name="carbohydrates" type="text" class="form-control" placeholder="Enter Carbohydrates" value="{{ Recipe.carbohydrates }}" required>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <label for="protein" class="form-label">Protein :</label>
            <input name="protein" type="text" class="form-control" placeholder="Enter Protein" value="{{ Recipe.protein }}" required>
        </div>
        <div class="col">
            <label for="fats" class="form-label">Fats :</label>
            <input name="fats" type="text" class="form-control" placeholder="Enter Fats" value="{{ Recipe.fats }}" required>
        </div>
    </div>

    <div class="mb-3">
        <label for="allergic_info" class="form-label">Allergic Info :</label>
        <textarea name="allergic_info" class="form-control" rows="3" placeholder="Enter Allergic Info" required>{{ Recipe.allergic_info }}</textarea>
    </div>

    <button type="submit" class="update-recipe-btn">Update Recipe</button>
</form>

        <br><br><br>


        
    </div>

    
</body>
</html>